{
  "extends": [
    "stylelint-config-standard",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ],
    "no-descending-specificity": null
  }
}
